################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Alexa/Rodolfo.Alexa.Skills/Rodolfo.Alexa.Luis/appsettings.Development.json
